name: 'Terraform Test'

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  terraform_test:
    name: 'Terraform Test Job'
    runs-on: ubuntu-latest


    steps:
    - name: Checkout the repository
      uses: actions/checkout@v4

    - name: Login to Azure
      uses: azure/login@v2
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        cli_config_credentials_token: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Terraform Init
      run: terraform init

    - name: Terraform Format
      run: terraform fmt -check -recursive


    - name: Terraform Validate
      run: terraform validate
